.cv-container {
    display: flex;
    width: 100%;
    .cv-sidebar {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgb(218, 238, 233);
        width: 40%;
        border-radius: 20px;
    }
    .cv-picture {
        img {
            &:hover {
                scale: 1.02;
            }
            width: 40%;
            transition: all 0.5s;
            border: 5px solid #04aa6d;
            border-radius: 25px;
            animation: floating 3s ease-in-out infinite;
        }
    }
}
.cv-name {
    h1 {
        text-transform: uppercase;
        color: #04aa6d;
        font-size: 40px;
    }
}

.progress-container {
    width: 80%;
    background-color: #ddd;
    .progress {
        height: 10px;
        background-color: #04aa6d;
    }
}

.cv-main {
    width: 60%;
    padding: 40px;
}

.cv-experience-item,
.cv-education-item,
.cv-hobby-item,
.cv-language-item,
.cv-coordinates-container,
.cv-skill {
    padding-left: 40px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@media (max-width: 700px) {
    .cv-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 90vw;
        h1 {
            font-size: 25px;
        }
        .cv-sidebar {
            padding-left: 2%;
            width: 90vw;
        }
        .cv-main {
            padding-left: 2%;
            width: 90vw;
        }
    }
}
